* {
    font-family: sans-serif;
}

body {
    padding: 20px;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(54, 178, 250);
}

img {
    border: 1px solid black;
}